*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: "Nerko One", cursive ;
}
.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }
.nav{
    background-color: black;
    padding: 20px;
    font-family: "Nerko One", cursive;
}
.nav a{
    text-decoration: none;
    color: #eee;
    font-size: 1.5rem;
}
.nav a li{
    list-style: none;
}
.available{
    text-align: center;
    padding: 30px;
    font-size: 2.5rem;
}
.footer{
    background-color: black;
    text-align: center;
    color: #eee;
    font-weight: 500;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    margin-top: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 98%;
    margin: auto;
}
.grid_child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid_baby{
    width: 90%;
    margin: auto;
    background-color: black;
    border-radius: 5px;
    margin-top: 20px;
    height: 250px;
}
.book{
    margin-top: 30px;
    padding: 10px 30px;
    border: none;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
    color: #eee;
}
.bg1{
    background-image: url('../images/lux.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg2{
    background-image: url('../images/lux1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg3{
    background-image: url('../images/lux2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg4{
    background-image: url('../images/lux3.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg5{
    background-image: url('../images/lux4.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg6{
    background-image: url('../images/lux6.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg7{
    background-image: url('../images/lux7.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg8{
    background-image: url('../images/lux5.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}