*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: "Nerko One", cursive ;
}
.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: black;
    color: #eee;
    font-size: 2.5rem;
}
.select_class{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}
.case{
    background-color: rgba(0, 0, 0, 0.504);
    height: 370px;
    width: 530px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
.bg{
    height: 230px;
    width: 450px;
    border-radius: 8px;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;

}
.economy{
    background-image: url('../images/eco.jpeg');
    background-position: center;
}
.standard{
    background-image: url('../images/standard.jpeg');
    background-position: center;
}
.luxury{
    background-image: url('../images/luxury.jpeg');
    background-position: center;
}
.btn{
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #eee;
    background-color: black;
    margin-top: 30px;
    font-weight: 600;
    font-size: 1rem;

}
.footer{
    background-color: black;
    text-align: center;
    color: #eee;
    font-weight: 500;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}